[Bb]uild*
![Bb]uild.h
![Bb]uild.cpp
app/*
!app/our_res
!app/mark
!app/fire
app/mark/1.html
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
GeneratedFiles
*Makefile*
*/Makefile*
obj/
libs/
plugins/
Thumbs.db
ui_*
qrc_*
*.o
*.obj
*.exe
*.pdb
*.user
*.user*
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.vcproj
*.vcxproj*
*.*sdf*
*.sln
*.lib
*.sbr
*moc*
*.autosave
*.orig
*.o
object_script*

# Qml caching files
*.jsc
*.qmlc
